<!--FOOTER-->
<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <ul class="footer-adress">
        <li class="footer-adress-icon">
          <svg class="footer-icon" width="127" height="20">
            <use href="./img/icons.svg#logo"></use>
          </svg>
        </li>
        <li class="footer-adress-list">
          <a class="footer-adress-link" href="tel:+380665438912"
            >UK: +38 066 543 8912</a
          >
        </li>
        <li class="footer-adress-list">
          <a
            class="footer-adress-link"
            href="https://www.google.com/maps/place/GoIT/@50.4249653,30.5315088,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4d96f5139689b:0xa1f7c65300bebad1!8m2!3d50.4249619!4d30.5340837!16s%2Fg%2F11b6hypvsd?hl=uk-UK&entry=ttu"
            target="_blank"
            >Ukraine, Kyiv</a
          >
        </li>
      </ul>
      <div class="footer-menu">
        <ul class="footer-menu-social">
          <li class="footer-menu-link">
            <a
              class="footer-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              >Instagram</a
            >
          </li>
          <li class="footer-menu-link">
            <a
              class="footer-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              >Facebook</a
            >
          </li>
          <li class="footer-menu-link">
            <a
              class="footer-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              >Youtube</a
            >
          </li>
        </ul>
        <ul class="footer-menu-list">
          <li class="footer-menu-link">
            <a class="footer-link" href="#about_us">About us</a>
          </li>
          <li class="footer-menu-link">
            <a class="footer-link" href="#our_courses">Our courses</a>
          </li>
          <li class="footer-menu-link">
            <a class="footer-link" href="#our_mentors">Our mentors</a>
          </li>
          <li class="footer-menu-link">
            <a class="footer-link" href="#reviews">Reviews</a>
          </li>
          <li class="footer-menu-link">
            <a class="footer-link" href="#contacts">contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer-form-container">
        <form class="footer-form" action="#">
          <input
            class="footer-form-input"
            name="footer-email"
            type="email"
            placeholder="Enter your email"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            required
          />
          <p class="footer-error-field">User email is invalid</p>
        </form>
        <button class="form-btn" type="submit">Go</button>
      </div>
    </div>
    <div class="footer-privacy">
      <div class="footer-privacy-link">
        <a href="#">Privacy Policy</a>
        <a href="#">Public Offering Agreement</a>
      </div>
      <p>2023 Focus Frame <br />&#169; All rights reserved</p>
    </div>
  </div>
</footer>
