<div class="header-hero">
    <header class="header">
            <nav class="header-nav">
                <div class="header-logo">
                    <svg class="header-logo-svg" width="127" height="20">
                        <use href="../img/icons.svg#logo"></use>
                    </svg>
                </div>
                <button class="header-camera">
                    <svg class="header-camera-svg" width="16" height="16">
                        <use href="../img/icons.svg#camera"></use>
                    </svg>
                </button>
                <button class="header-menu">
                    <svg class="header-menu-svg" width="32" height="22">
                        <use href="../img/icons.svg#nav"></use>
                    </svg>
                </button>
                <button type="button" class="header-btn">Sign Up</button>
            </nav>
    </header>


    <!-- hero -->

</div>

