<div class="backdrop" id="menu"> <!-- Insert is-open here  -->
    <div class="modal">
        <button class="modal-btn" id="close-menu">
            <svg class="modal-btn-svg" width="32" height="32">
                <use href="./img/icons.svg#close"></use>
            </svg>
        </button>
        <div class="modal-menu">
            <ul class="modal-menu-list">
                <li class="modal-menu-list-item"><a href="#about_us">About Us</a></li>
                <li class="modal-menu-list-item"><a href="#our_courses">Our courses</a></li>
                <li class="modal-menu-list-item"><a href="#our_mentors">Our mentors</a></li>
                <li class="modal-menu-list-item"><a href="#reviews">Reviews</a></li>
                <li class="modal-menu-list-item"><a href="#contacts">contacts</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="header-hero">
    <header class="header">
        <div class="container-header">
            <nav class="header-nav">
                <div class="header-logo">
                    <svg class="header-logo-svg" width="127" height="20">
                        <use href="./img/icons.svg#logo"></use>
                    </svg>
                </div>
                <a class="header-camera-link" href="#sign-up">
                    <div class="header-camera">
                        <svg class="header-camera-svg" width="16" height="16">
                            <use href="./img/icons.svg#camera"></use>
                        </svg>
                    </div>
                </a>
                <div class="header-menu" id="show-menu">
                    <svg class="header-menu-svg" width="32" height="22">
                        <use href="./img/icons.svg#nav"></use>
                    </svg>
                </div>
                <ul class="header-menu-list">
                    <li class="header-menu-list-item"><a href="#about_us">About Us</a></li>
                    <li class="header-menu-list-item"><a href="#our_courses">Our courses</a></li>
                    <li class="header-menu-list-item"><a href="#our_mentors">Our mentors</a></li>
                    <li class="header-menu-list-item"><a href="#reviews">Reviews</a></li>
                    <li class="header-menu-list-item"><a href="#contacts">contacts</a></li>
                </ul>
            </nav>
            <a class="header-btn-link" href="#sign-up">
                <div class="header-btn">
                    <div class="header-btn-text">Sign Up</div>
                </div>
            </a>

        </div>
    </header>

    <!-- insert hero here -->

</div>