<div class="header-hero">
    <header class="header">
        <div class="container-header">
            <nav class="header-nav">
                <div class="header-logo">
                    <svg class="header-logo-svg" width="127" height="20">
                        <use href="../img/icons.svg#logo"></use>
                    </svg>
                </div>
                <button class="header-camera">
                    <svg class="header-camera-svg" width="16" height="16">
                        <use href="../img/icons.svg#camera"></use>
                    </svg>
                </button>
                <button class="header-menu">
                    <svg class="header-menu-svg" width="32" height="22">
                        <use href="../img/icons.svg#nav"></use>
                    </svg>
                </button>
                <ul class="header-menu-list">
                    <li class="header-menu-list-item"><a href="">About Us</a></li>
                    <li class="header-menu-list-item"><a href="">Our courses</a></li>
                    <li class="header-menu-list-item"><a href="">Our mentors</a></li>
                    <li class="header-menu-list-item"><a href="">Reviews</a></li>
                    <li class="header-menu-list-item"><a href="">contacts</a></li>
                </ul>
            </nav>
            <!-- <button type="submit" class="header-btn"><a href="#sign-up">Sign Up</a></button> -->
            <button class="header-btn">
                <div class="header-btn-text"><a class="header-btn-link" href="#sign-up">Sign Up</a></div>
            </button>

        </div>    
    </header>


    <!-- hero -->

</div>

<!-- close крестик -->


<div class="backdrop is-open">
    <div class="modal">
        <button class="modal-btn">
            <svg class="modal-btn-svg" width="32" height="32">
                <use href="../img/icons.svg#close"></use>
            </svg>
        </button>
        <div class="modal-menu">
            <ul class="modal-menu-list">
                <li class="modal-menu-list-item"><a href="">About Us</a></li>
                <li class="modal-menu-list-item"><a href="">Our courses</a></li>
                <li class="modal-menu-list-item"><a href="">Our mentors</a></li>
                <li class="modal-menu-list-item"><a href="">Reviews</a></li>
                <li class="modal-menu-list-item"><a href="">contacts</a></li>
            </ul>
        </div>
    </div>
</div>


