/* mobile  */
 <section class="hero">
    <div class="container-hero">
      <h1 class="hero-title">
        Discover the magic of <span class="hero-title2">photography</span> in our school
      </h1>
    </div>

    <div class="container-hero">
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.
      </p>
    </div>

    <div class="hero-samples">
      <img
      class="samples-img-team"
      src="./src/img/hero/hero-images.png"
      alt="Our happy students"
      width="109"
      />

      <img
      class="samples-img-team2"
      src="./src/img/hero/circle-star-44x44.svg"
      alt="Our happy students"
      width="109"
      />
      <p class="hero-text-semitransp">
        Reviews
      </p>
      <p class="hero-text-semibold">
        +1500
      </p>

      [row]
      <p class="hero-text">
        Our happy <br> students
      </p>
      <img
      class="samples-img-team"
      src="./src/img/hero/arrow-2-stroke-18x9.svg"
      alt=""
      width="18"
      vertical-align: baseline;
      />
      [/row]
    </div>

    <div class="hero-photo">
      <img
      class="samples-img-team"
      src="./src/img/hero/rectangle-5.png"
      alt=""
      width="259"
      />
    </div>
  </section>