<section class="mentors">
  <div class="mentors-container container">
    <h2 class="mentors-title section-title">
      our <span>mentors</span>
    </h2>
    <ul class="mentors-members">
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="
              ./img/mentors/emilia-large@1x.png 1x,
              ./img/mentors/emilia-large@2x.png 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/mentors/emilia-desk@1x.png 1x,
              ./img/mentors/emilia-desk@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/mentors/emilia-tablet@1x.png 1x,
              ./img/mentors/emilia-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mentors/emilia-mobile@1x.png 1x,
              ./img/mentors/emilia-mobile@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/emilia-mobile@1x.png"
            width="180"
            alt="emilia"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">emilia smith</h3>
          <h4 class="mentors-experience">1.5 years of experience</h4>
        </div>
      </li>
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="
              ./img/mentors/alex-large@1x.png 1x,
              ./img/mentors/alex-large@2x.png 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/mentors/alex-desk@1x.png 1x,
              ./img/mentors/alex-desk@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/mentors/alex-tablet@1x.png 1x,
              ./img/mentors/alex-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mentors/alex-mobile@1x.png 1x,
              ./img/mentors/alex-mobile@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/alex-mobile@1x.png"
            width="180"
            alt="alex"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">alex lebedev</h3>
          <h4 class="mentors-experience">3.5 years of experience</h4>
        </div>
      </li>
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="
              ./img/mentors/mia-large@1x.png 1x,
              ./img/mentors/mia-large@2x.png 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/mentors/mia-desk@1x.png 1x,
              ./img/mentors/mia-desk@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/mentors/mia-tablet@1x.png 1x,
              ./img/mentors/mia-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mentors/mia-mobile@1x.png 1x,
              ./img/mentors/mia-mobile@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/mia-mobile@1x.png"
            width="180"
            alt="mia"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">mia dubrovska</h3>
          <h4 class="mentors-experience">2.0 years of experience</h4>
        </div>
      </li>
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="
              ./img/mentors/eliot-large@1x.png 1x,
              ./img/mentors/eliot-large@2x.png 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./img/mentors/eliot-desk@1x.png 1x,
              ./img/mentors/eliot-desk@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/mentors/eliot-tablet@1x.png 1x,
              ./img/mentors/eliot-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/mentors/eliot-mobile@1x.png 1x,
              ./img/mentors/eliot-mobile@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/eliot-mobile@1x.png"
            width="180"
            alt="eliot"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">eliot kovalev</h3>
          <h4 class="mentors-experience">4.0 years of experience</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
