<section class="mentors">
  <div class="mentors-container">
    <h2 class="mentors-title">Our mentors</h2>
    <ul class="mentors-members">
      <li class="mentors-item">
        <picture>
          <source
            srcset="
              ./img/mentors/emilia@1x.jpg 1x,
              ./img/mentors/emilia@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/emilia@1x.jpg"
            width="180"
            alt="eliot"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">Emilia Smith</h3>
          <p class="members-experience">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <pictures>
          <source
            srcset="./img/mentors/alex@1x.jpg 1x, ./img/mentors/alex@2x.jpg 2x"
            media="(min-width:320px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/alex@1x.jpg"
            width="180"
            alt="alex"
          />
        </pictures>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">Alex Lebedev</h3>
          <p class="members-experience">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <pictures>
          <source
            srcset="./img/mentors/mia@1x.jpg 1x, ./img/mentors/mia@2x.jpg 2x"
            media="(min-width:320px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/mia@1x.jpg"
            width="180"
            alt="mia"
          />
        </pictures>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">Mia Dubrovska</h3>
          <p class="members-experience">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <pictures>
          <source
            srcset="
              ./img/mentors/eliot@1x.jpg 1x,
              ./img/mentors/eliot@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="mentors-image"
            src="./img/mentors/eliot@1x.jpg"
            width="180"
            alt="eliot"
          />
        </pictures>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">Eliot Kovalev</h3>
          <p class="members-experience">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
