<section class="mentors">
  <div class="mentors-container container">
    <h2 class="mentors-title section-title">
      our <span>mentors</span>
    </h2>
    <ul class="mentors-members">
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="
              ./img/mentors/emilia@1x.png 1x,
              ./img/mentors/emilia@2x.png 2x
            "
          />
          <img
            class="mentors-image"
            src="./img/mentors/emilia@1x.png"
            width="180"
            alt="emilia"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">emilia smith</h3>
          <h4 class="mentors-experience">1.5 years of experience</h4>
        </div>
      </li>
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="
              ./img/mentors/alex@1x.png 1x,
              ./img/mentors/alex@2x.png 2x
            "
          />
          <img
            class="mentors-image"
            src="./img/mentors/alex@1x.png"
            width="180"
            alt="alex"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">alex lebedev</h3>
          <h4 class="mentors-experience">3.5 years of experience</h4>
        </div>
      </li>
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="
              ./img/mentors/mia@1x.png 1x,
              ./img/mentors/mia@2x.png 2x
            "
          />
          <img
            class="mentors-image"
            src="./img/mentors/mia@1x.png"
            width="180"
            alt="mia"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">mia dubrovska</h3>
          <h4 class="mentors-experience">2.0 years of experience</h4>
        </div>
      </li>
      <li class="mentors-item">
        <picture class="mentors-picture">
          <source
            srcset="
              ./img/mentors/eliot@1x.png 1x,
              ./img/mentors/eliot@2x.png 2x
            "
          />
          <img
            class="mentors-image"
            src="./img/mentors/eliot-mobile@1x.png"
            width="180"
            alt="eliot"
          />
        </picture>
        <div class="mentors-content">
          <h3 class="mentors-subtitle">eliot kovalev</h3>
          <h4 class="mentors-experience">4.0 years of experience</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
