<section class="signup">
  <div class="container">
    <div class="sign-up-form-wrap">
      <h2 class="">Sign <span class=""></span>Up</h2>
      <p class="">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-form">
        <input
          class="form-field"
          type="text"
          name="user-name"
          placeholder="Enter your name"
        />
        <input
          class="form-field"
          type="email"
          name="user-email"
          placeholder="Enter your email"
        />
        <textarea
          class="form-field"
          name="user-comment"
          rows="3"
          placeholder="Message"
        ></textarea>
        <button class="submit-btn">Send</button>
        <p class="privacy-text">
          By clicking on "Send" button, you agree to our
          <a class="privacy-text-link" href="/">Privacy Policy</a>, and allow
          Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <ul class="sign-up-images">
      <li class="sign-up-item-sm">
        <picture>
          <source />
          <source />
          <source />
          <img
            class="sing-up-sm-image"
            src=""
            alt="Camera Lens"
            width="163"
            height="154"
          />
        </picture>
      </li>
      <li class="sign-up-item-lg">
        <picture>
          <source />
          <source />
          <source />
          <img
            class="sing-up-lg-image"
            src=""
            alt="Camera"
            width="254"
            height="313"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
