.running-line {
  overflow: hidden;
}
.running-line-wrap {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.running-line-text {
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  flex-shrink: 0;
  margin: 0;
  padding: 20px 20px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: runningLineText;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.running-line-text span {
  color: #bea69e;
}

@keyframes runningLineText {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .running-line-text {
    font-size: 40px;
    line-height: 1.25;
    padding: 24px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .running-line-text {
    font-size: 59px;
    line-height: 1.08;
    padding: 24px 100px;
    text-align: center;
  }
}
