body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: #121212;
  scroll-behavior: smooth;
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: capitalize;
}

.section-title span {
  color: #bea69e;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }

  .section-title {
    font-size: 48px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 100px;
  }
}
