.header-hero {
    background-image: url('./img/header/background.png');
}

.header {
    padding: 20px;
    align-items: center;
}

.container-header {
    display: flex;
    margin: 20px;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

.header-nav {
    height: 60px;
    width: 335px;
    max-width: 335px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #121212;
    display: flex;
    align-items: center;
    flex-direction: row;
    min-width: 280px;
    flex-grow: 1;
    margin-right: 14px;
}

.header-logo {
    margin-left: 20px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.header-logo-svg {
    fill: #FFFFFF;
}

.header-camera {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    fill: #BEA69E66;
    background-color: #1D1D1D;
    border: 0px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 14px;
}

.header-camera:hover,
.header-camera:active {
    fill: #BEA69E;
}


.header-camera-svg {
    flex-shrink: 0;
}

.header-menu {
    display: flex;
    margin-right: 20px;
    border: 0px;
    background-color: #121212;
}

.header-menu-svg {
    stroke: #FFFFFF;
    align-items: center;
    flex-shrink: 0;

}

.header-menu-list {
    display: none;
    transition: display 0.5s ease;
}

.header-btn {
    display: none;
    transition: display 0.5s ease;
}

@media screen and (min-width: 375px) {}


/* =========================== MODAL MENU ============================ */

.backdrop {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.40);
    top: 0;
    left: 0;
    visibility: hidden;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    z-index: 20;
    display: flex;
    width: 218px;
    height: 812px;
    flex-shrink: 0;
    min-height: 812px;
    background: #BEA69E;
    position:absolute;
    top: 0px;
    right: 0px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: image-set(url("./img/header/rectangle@1x.png") 1x,
            url("./img/header/rectangle@2x.png") 2x);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.modal-btn {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
    border: 0;
    background-color: transparent;
    transition: margin-right 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-svg {
    stroke: #121212;
}

.modal-menu {
    position: absolute;
    margin-top: 180px;
    margin-left: 20px;
}

.modal-menu-list-item {
    color: #121212;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.modal-menu-list-item:active,
.modal-menu-list-item:hover {
    font-weight: 700;
}


/* =========================== TABLET ============================ */

@media screen and (min-width: 768px) {

    .header-nav {
        width: 504;
        max-width: 504px;
        min-width: 504px;
    }

    .header-camera {
        display: none;
        transition: display 0.5s ease;
    }

    .container-header {
        display: flex;
        margin: 20px 32px 40px 32px;
        transition: margin 0.5s ease;
    }

    .header-btn {
        width: 186px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border: none;
        padding: 0;
        border-radius: 12px;
        background: #FFF;
        transition: width 0.5s ease;
    }

    .header-btn:hover,
    .header-btn:active {
        background: #1D1D1D;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-btn:hover .header-btn-text,
    .header-btn:active .header-btn-text {
        color: #BEA69E;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-btn-text {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #121212;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.55em;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .header-btn-link {
        padding: 18px 58px;
    }

    .modal-btn {
        margin-right: 32px;
        transition: margin-right 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal {
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 480px;
        height: 1024px;
        background-image: image-set(url("./img/header/rectangle-large@1x.png") 1x,
                url("./img/header/rectangle-large@2x.png") 2x);
    }

    .modal-menu {
        position: absolute;
        margin-top: 232px;
        margin-left: 64px;
    }

    .modal-menu-list-item {
        padding-bottom: 28px;
    }
}


/* =========================== DESCTOP ============================ */

@media screen and (min-width: 1280px) {

    .header-nav {
        width: 822;
        max-width: 822px;
    }

    .header-btn {
        width: 238px;
        height: 60px;
        transition: width 0.5s ease;
    }

    .header-btn-link {
        padding: 18px 85px;
        transition: width 0.5s ease;
    }

    .header-menu {
        display: none;
        transition: display 0.5s ease;
    }

    .container-header {
        margin: 20px 100px 80px 100px;
        transition: margin 0.5s ease;
    }

    .header-menu-list {
        display: flex;
        margin-right: 50px;
        margin-left: 97px;
    }

    .header-menu-list-item {
        margin-right: 40px;
        color: #FFF;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .header-menu-list-item:hover,
    .header-menu-list-item:active {
        color: #BEA69E;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .backdrop {
        display: none;
    }
}