

.header-hero {
    background-image: url('../img/header/background.png');
}

.header {
    padding: 20px;
    /* margin-bottom: 20px; */
    /* background: #121212; */
}

.header-nav {
    width: 335px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #121212;
    display: flex;
    align-items: center;
}


.header-logo {
    margin-left: 20px;
    display: inline;
}

.header-logo-svg {
    fill: #FFFFFF;

}

.header-camera {
    margin-left: 98px;
    fill: #BEA69E66;
    background-color: #1D1D1D;
    border: 0px;
    border-radius: 50%;
    padding: 8px;
}

.header-camera-svg {
    
}

.header-menu {
    /* margin-right: 20px; */
}

.header-menu-svg {
    /* fill: #FFFFFF; */
    /* margin-right: 20px; */
}



