.hero {
    padding-bottom: 80px;
}
.container-hero {
}
.container {
}
.hero-cover {
    padding: 40px 20px 0;
    border-radius: 30px;
    background-color: #1D1D1D;
}
.hero-content {
    margin-bottom: 31px;
}
.hero-title {
    text-transform: none;
    font-size: 40px;
    line-height: 1.1em;
    max-width: 295px;
    margin-bottom: 20px;
}
.hero-title span {
    font-weight: 400;
    font-style:italic;
}

.hero-description {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}
.hero-box {
    display: flex;
    max-width: 253px;
    gap: 40px;
}

.hero-students-list {
    width: 109px;
    height: 44px;
    position:relative;
    margin-bottom: 4px;
}

.hero-student-item {
    position: absolute;
}
.hero-student-item:nth-child(1) {
    left: 0;
    z-index: 3;
}
.hero-student-item:nth-child(2) {
    left:50%;
    transform:translateX(-50%);
    z-index: 2;
}
.hero-student-item:nth-child(3) {
    right: 0;
    z-index: 1;
}
.hero-student-img {
    height: 44px;
    width: 44px;
}

.hero-link{
    display: flex;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    max-width: 89px;
    gap: 4px;
}

.hero-arrow {
    fill: #FFF;
}
.hero-rating-box {
    display: flex;
    gap: 12px;
}
.hero-star-box {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #BEA69E;
}
.hero-star {
    fill: #BEA69E;
    stroke: #121212;
}
.hero-rating-content {
}
.hero-reviews-label {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.50);
    margin-bottom: 4px;
}
.hero-reviews-number {
    line-height: 1.13;
    font-weight: 500;
    letter-spacing: -0.04em;
}
.hero-picture {

}
.hero-img {
    max-width: 259px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 100px;
    }

    .hero-cover {
        padding: 64px 32px 0;
        border-radius: 30px;
    }
    
    .hero-content {
        margin-bottom: 41px;
    }
    .hero-title {
        font-size: 60px;
        line-height: 1.07em;
        max-width: 495px;
    }
    .hero-description {
        max-width: 418px;
    }
    .hero-students {
        display: flex;
        gap: 12px;
    }
    .hero-students-list {
        width: 137px;
        height: 54px;
        margin-bottom: 0;
    }
    .hero-student-img {
        height: 54px;
        width: 54px;
    }
    .hero-link{
        flex-direction: column;
        font-size: 16px;
        line-height: 1.25;
        max-width: 82px;
        gap: 8px;
    }
    .hero-arrow {
        width: 18px;
        height: 9px;
    }
    .hero-img {
        max-width: 393px;
    }
    
}
@media screen and (min-width: 1280px) {
    .hero {
        padding-bottom: 150px;
    }

    .hero-cover {
        display: flex;
        gap: 20px;
        padding: 80px 50px 0;
    }

    .hero-content {
        margin-bottom: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding-bottom: 51px;
    }

    .hero-title {
        font-size: 60px;
        line-height: 1.06em;
        max-width: 495px;
    }

    .hero-box {
        max-width: 388px;
        margin-top: auto;
    }
    .hero-img {
        max-width: 397px;
    }
}
