.sign-up {
  padding-bottom: 80px;
}

.sign-up .section-title {
  margin-bottom: 20px;
}

.sing-up-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.form-field {
  width: 100%;
  max-width: 335px;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  line-height: 1.25;
  background-color: #121212;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 18px;
  margin-bottom: 8px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.error-field {
  font-size: 14px;
  padding-left: 14px;
  color: rgb(235, 98, 93);
  display: none;
}

.form-field:invalid {
  border-color: rgb(235, 98, 93);
}
.form-field:invalid:focus {
  border-color: rgb(235, 98, 93);
}

.form-field:invalid + p {
  display: block;
}

.form-field:focus,
.form-field:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-field:last-child {
  margin-bottom: 40px;
}

.form-field::placeholder {
  color: #fff;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  opacity: 0.7;
}
.submit-btn {
  width: 100%;
  max-width: 335px;
  padding: 14px;
  border: 0;
  border-radius: 12px;
  background: #fff;
  color: #121212;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #1d1d1d;
  color: #bea69e;
}

.privacy-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
}

.break {
  display: none;
}

.privacy-text-link {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  line-height: 1.25;
  text-decoration-line: underline;
}
.sign-up-images {
  display: none;
}

@media screen and (min-width: 768px) {
  .sign-up-wrap {
    width: 480px;
  }

  .sing-up-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }

  .form-field {
    max-width: 100%;
    padding: 20px 18px;
    margin-bottom: 14px;
  }

  .error-field {
    padding-left: 18px;
  }

  .submit-btn {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.56;
    text-transform: uppercase;
    padding: 16px;
  }

  .privacy-text {
    font-size: 14px;
    line-height: 1.28;
  }

  .privacy-text-link {
    font-size: 14px;
    line-height: 1.28;
  }

  .break {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up .container {
    display: flex;
    justify-content: space-between;
  }

  .sign-up-images {
    display: flex;
    align-items: flex-end;
    padding-bottom: 38px;
    gap: 20px;
  }

  .sign-up-item-sm {
    position: relative;
    width: 180px;
    height: 288px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: #bea69e;
    overflow: hidden;
    box-shadow: -35.56212px 17.78106px 25.43959px 0px rgba(0, 0, 0, 0.26);
  }

  .sing-up-sm-image {
    position: absolute;
    max-width: unset;
    width: 110%;
    top: 24%;
    left: -20%;
  }

  .sign-up-item-lg {
    position: relative;
    width: 340px;
    height: 540px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: #1d1d1d;
    overflow: hidden;
  }

  .sing-up-lg-image {
    position: absolute;
    max-width: unset;
    top: 29%;
    left: 15%;
  }
}

@media screen and (min-width: 1440px) {
  .sign-up-item-sm {
    width: 190px;
  }

  .sing-up-sm-image {
    top: 21%;
  }

  .sign-up-item-lg {
    width: 350px;
  }

  .sing-up-lg-image {
    top: 28%;
  }
}
